@import url(http://fonts.googleapis.com/css?family=Dosis:200);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@font-face {
  font-family: 'adamas';
  src: url('../fonts/adamas.eot'); /* IE9 Compat Modes */
  src: url('../fonts/adamas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/adamas.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/adamas.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/adamas.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/adamas.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$primary-font: 'Open Sans';
$header-font: 'Dosis';

$primary-color: #51A8B8;
$secondary-color: #852529;
$third-color: #698927;

body {
background-color: black;
}

.hero {
	height: 59vh;
	width: 100%;
	background-color: black;

	h3 {
		color: #51A8B8;
		font-size: 2.4em;
		font-family: $header-font;
		text-align: center;
		line-height: 2.5;
		margin-top: 5%;
		&:hover {
			color: #698927;
		}	
	}

	h1 {
		color: white;
		font-family: 'adamas';
		font-size: 5em;
		text-align: center;
		line-height: 2rem;
		margin-top: 2%;
		margin-bottom: 2%;
		&:hover {
			color: #852529;
		}
	}
}

.pic {
	text-align: center;
	margin-top: 20px;
	img {max-width: 100px;
	}	
}

.signup img {
	max-width: 100px;
	position: fixed;
	right: 5%;
	margin-top: 50px;
}

.second {
	display: none;
}

.story {
	margin-top: 10%;
	h4 {
		color: $primary-color;
		font-family: $primary-font;
		font-size: 2rem;
	}
	p {
		color: $secondary-color;
		font-family: $primary-font;
		font-size: 1.3rem;
	}
}

.info {
	margin-bottom: 20%;
	
	h4 {color: $third-color;
	font-family: $primary-font;}
}

/* Media Queries */

@media only screen and (max-width: 736px) and (orientation: landscape) { 
	.story {margin-top: 26%;}
}

@media only screen and (min-width: 737px) {
	.hero {
		h1 {
			font-size: 10rem;
			margin-top: 5%;
		}
		h3 {
			font-size: 5rem;
		}
	}
	.pic {
		margin-top: 50px;
		img {
			max-width: 250px;
			margin-top: 2%;
		}
}


@media only screen and (min-width: 737px) and (orientation: landscape) {
	.hero {
		h1 {
			font-size: 15rem;
		}
		h3 {
			font-size: 7.3rem;
		}
	}
	.story {
		margin-top: 30%;
		}
	.signup img {
		margin-top: 200px;
		}
	}
}

@media only screen and (min-width: 1500px) {
	.signup img {
		margin-top: 350px;
	}
}

